button {
    border: 5px solid black;
    border-color: #999 #999 #666 #666;
    min-height: 4em;
}

.content{
    max-width: 100vw;
    max-height: 100vw;
}

body {
    background-color: black;
    color: white;
}